		<div class="container">
			<h1>Integrated Group Management</h1>
			<div *ngIf="!selectedGroup">
			<div class="form-horizontal" >
					<div class="form-group" tooltip="You can enter one email or multiple emails separated by semi-colon ';'">
						<label class="control-label col-sm-2"><strong>Search People:</strong></label>
						<div class="col-sm-9">
							<input [(ngModel)]="searchTerm" class="form-control" type="text" (keyup)="search();"   placeholder="type to search...">
						</div>
						<div class="col-sm-1">
							<input type="button" class="btn btn-default" (click)="exit();"  value="Exit" />
						</div>
					</div>	
				</div>
				<table style="table-layout:fixed;" class="table table-striped table-hover table-condensed">
					<thead>
						<tr>						
							<th style="width:12%;">Referral Type</th>
							<th style="width:6%">Manage</th>
							<th style="width:38%;">Owners</th>
							<th style="width:6%;">Manage</th>
							<th style="width:38%;">Members</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let group of groups;" [class.info]="group===selectedGroup">
							<td style="word-wrap:break-word;">{{group.Title}} </td>
							<td><a class="taxPointerCursor" href="{{group?.OwnerGroupLink}}">Manage Owners</a><div>({{group?.Owners?.length}})</div></td>
							<td><div style="font-weight:bolder;">{{group.OwnerGroupName}}</div><span [class.taxSearchFound]="searchTerm&&filterOwnerEntry(owner)" *ngFor="let owner of group.Owners">{{(owner.email?owner.email:owner.displayName)+"; "}}</span></td>
							<td><a class="taxPointerCursor" (click)="onSelect(group)">Manage Members</a><div>({{group.Workers.length}})</div></td>
							<td><span [class.taxSearchFound]="searchTerm&&filterWorkerEntry(worker)" *ngFor="let worker of group?.Workers">{{worker.getEmail()+"; "}}</span></td>
						</tr>
					</tbody>
				</table>
				</div>
				<app-ng-group-members *ngIf="selectedGroup"  (onClosed)="closeSelectedGroup();" [childGroup]="selectedGroup" [groups]="groups" [businessClass]="listAndGroupManagement"  ></app-ng-group-members>
		</div>